.header {
    width: 400px;
	height: 100px;
	background: #141f40;
}

.main{
    width: 400px;
    height: 250px;

}

.left {
    width: 150px;
    height: 250px;
	background: #80bfa8;	
    float:left;
}

.right {
    width: 250px;
    height: 250px;
	background: #8c2727;
    float:left;
}
.hidariue {
    width: 150px;
    height: 50px;
	background: #dbd400;
    float:left;
}
.migiue {
    width: 100px;
    height: 150px;
	background: #ff9e6b;
    float:left;
}
.ao
 {
    width: 150px;
    height: 100px;
	/* background: #0093b7; */
    float:left;
}
.aka
 {
    width: 250px;
    height: 100px;
	background: #8c2727;
    float:left;
}


.footer{
    width: 400px;
    height: 100px;
	background: #d98b30
}



.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}
/* @media screen and (max-width: 767px) {

    #wrapper {
        width: 80%;
    }

}


@media screen and (max-width: 479px) {

    .header {
        height: 300px;
    }

    .footer {
        height: 200px;
    }

} */